# Python
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
.venv/
env/

# Project specific
data/logs/
data/applied_jobs.csv
data/failed_jobs.csv
data/logs/screenshots/
config/user_data.yaml
resume/
*.pyc